@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,700;1,800&display=swap');


/* 
Font: Lora/ Work sans
Farbe: #2e2e2e / #fff / #000 / #1d2c2f 
font-family: 'Lora', serif;
font-family: 'Work Sans', sans-serif;
*/

/* === GENERAL === */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


body {
    font-family: 'Work Sans', sans-serif;
}

h1,h2,h3,label,footer {
    font-family: 'Lora', serif;
}

/* === HEADER  === */

header section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 8rem;
    font-weight: 500;
    letter-spacing: 0.5em;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
}

#img1 {
    flex-basis: 60%;
}

header section div:first-of-type {
    flex-basis: 40%;
    text-align: center;
}

header section div:first-of-type { 
    letter-spacing: 10px;
}


/* === NAVBAR / MENUE  === */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 5%;
    background-color: #2e2e2e;
    position: sticky;
    top:0;
}

.nav img {
    width: 5%;
}

.nav nav ul {
    list-style: none;
    display: flex;
    gap: 12vw;
}

.nav nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
}

.menu {
    display: none;
}

.menu span {
    display: block;
    background-color: #fff;
    height: 0.2rem;
    width: 2rem;
    margin: 1vh 0;
}

.menu:hover > span {
    background-color: rgb(255, 0, 221);
    cursor:grab;
    transition: 1s all;
}

/* === STORY SECTION === */

.story {
    background-color: #2e2e2e;
    color: #fff;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 14vh 0;
}

h2 {
    font-size: 6rem;
    font-weight: 500;
    text-align: center;
}

.story article {
    padding: 10vh 2%;
    flex-basis: 50%;
}

.story article h2 {
    margin: 0 0 2vh 0;
}

.story article p {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.4em;
    margin: 0 0 2.4vh 0;;
}

.story-img {
    flex-basis: 60%;
}

/* === FEATURE SECTION === */

.feature article {
    margin: 20vh 25%;

}

.feature article h2 {
    text-align: center;
    margin-bottom: 2.5vh;
}

.feature article p {
    font-size: 2rem;
    word-spacing: 1rem;
    line-height: 1.5em;
}

.gallerie {
    display: flex;
    gap: 2vw;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 5% 10vh 5%;
}

.gallerie div {
    flex-basis: 30%;
}

.gallerie div img {
    width: 100%;
    min-width: 350px;
}

.gallerie div figcaption {
    text-align: center;
    color: #818181;
    font-size: 2rem;
}

.vid {
    text-align: center;
    margin-bottom: 15vh;
}

/* === CONTACT SECTION === */

.contact {
    display: flex;
    justify-content: space-between;
    padding: 12vh 10% 12vh 6%;
    background-color: #2e2e2e;
    color: white;
}

.contact aside {
    flex-basis: 60%;
    align-self: center;
}

.contact aside h2 {
    margin-bottom: 6vh;
    margin-right: 35vh;
}

.contact aside p {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.6em;
    margin-bottom: 4vh;
    word-spacing: 1rem;
}

.contact form {
    flex-basis: 30%;
}
.contact form label {
    font-size: 2rem;
    line-height: 2em;
}

.contact form input{
    width: 100%;
    margin-bottom: 6vh;
    font-size: 1.6rem;
    padding: 1vh 1%;
    border-radius: 6px;
}

.contact textarea {
    width: 100%;
    font-size: 1.6rem;
    margin-bottom: 6vh;
    border-radius: 6px;
    padding: 1vh 1%
}

.contact form input[type="submit"] {
    width: 40%;
    min-width: 100px;
    padding: 10px 0;
    border-radius: 6px;
}

.contact form input[type="submit"]:hover {
    width: 35%;
    background-color: #fff;
    color: #000;
    transition: 1s all;
    cursor:grab;
}

/* === FOOTER === */

footer {
    background-color: #1d2c2f;
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 4vh 6%;
}

footer div:nth-of-type(3) ul {
    list-style: none;
    display: flex;
    gap: 4vw;
}

footer div:nth-of-type(3) ul li a {
    color: inherit;
    text-decoration: none;
}

/* === FOOTER === */

@media only screen and (max-width: 600px) {
    body {
        background-color: greenyellow;
    }

    header img,
    section:first-of-type img {
        max-width: 100%;
    }

    footer>div:first-of-type div:first-of-type {
        width: 100%;
    }

    footer>div:first-of-type div:last-of-type {
        width: 80%;
    }
    
    header nav {
        display: none;
    }

    header div {
        display: block;
    }
}

